// ===VAR===
// ---fonts---
$fw-medium: 500;
$fw-bold: 700;

$fs-xs: 14px;
$fs-s: 16px;
$fs-m: 18px;
$fs-ml: 24px;
$fs-ls: 32px;
$fs-l: 36px;
$fs-xl: 48px;
// ---/fonts---

$pd-vert: 120px;
$transition: 0.2s;

$base: 4px;
// ===/VAR===
